.jumbotron {
    /* width: 100px; */
    
}

ul {
    list-style-type: none;
}

.main-pic {
    max-width: 85vw;
    border-radius: 0px;

}

.post-heading {
    margin: 1em;
    font-size: 4em;
    text-align: center;
    font-weight: 800;
}

.description {

}

.you-will-need {
    text-align: center;
}

.instructions-image {
    max-width: 40vw;
    border-radius: 0px;
}