/*   
 * Sexy StyleSheets for Milk n Poppy
 * Version: 1.0
 * Author: Xiaoying Riley
 * Twitter: @3rdwave_themes
 * License: Creative Commons Attribution 3.0 License
 * Website: http://themes.3rdwavemedia.com/
*/


/* styles.css */


/* ======= Base ======= */

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Vollkorn', serif;
  color: rgb(255, 0, 0);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: #70A8C3;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: none;
  /* color: #1a454f; */
}


/* a:focus {
  text-decoration: none;
} */

p {
  line-height: 1.5;
}

.wrapper {
  background-color: rgb(30, 255, 0);

}

.sidebar {
  background: #F9F9F9;
  width: 25vw;
  /* height: 100%; */
}
.index {
  height: 45vh;
}

.logo {
}

#logo-img {
  width: 16em;
}

#logo-text {
  font-family: 'Homemade Apple', cursive;
  font-weight: 1000;
  font-size: 2.2em;
  color: black;
  text-shadow: 0px 0px 52px black;
}

.categories {
  font-family: 'Francois One', sans-serif;
  font-size: 1.5em;
  color: #041A01;
  text-shadow: 0px -2px 16px #70A8C3;
}


.content {
  /* flex-grow: 8; */
  width: 100%;
  background: rgb(14, 6, 6);
}

.grid {

}

.column {

}

.footer {
  background: #F9F9F9;
  text-align: center;
}

.contact {
}

.fa-instagram {
  color: black;
  size: 35.35px;
}

.fa-pinterest {
  color: #BB0F24;
  size: 35.35px;
}

.fa-facebook {
  color: #3C5A96;
  size: 35.35px;
}

.fa-github {
  color: #222222;
  size: 35.35px;
}

@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}